@charset "UTF-8";

/* ---------- init ---------- */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  word-wrap: break-word;
}

body,
button,
input,
select,
textarea {
  font-family: Microsoft YaHei, "瀹嬩綋", Tahoma, arial;
  font-size: 12px;
  color: #333;
}

th {
  text-align: inherit;
}

ol,
ul {
  list-style: none;
}

fieldset,
img {
  border: 0;
  vertical-align: middle;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

ins,
a {
  color: #000;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

a,
img {
  -webkit-touch-callout: none;
}

table {
  border-collapse: collapse;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
}

input,
textarea,
button {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

textarea {
  resize: none;
}
